body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    color: #333;
}

h1 {
    font-size: 1.3vw;
    color: #4a4a4a;
    text-align: center;
    margin-top: 2vh;
}

form {
    width: 47%;
    margin: 0 auto;
    background: #fff;
    padding: 2.5vh;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5vh;
}

input, textarea, select, button {
    width: 99%;
    padding: 0.8vh;
    margin-bottom: 0.5vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.8vw;
}

button {
    padding: 1vh;
    width: 47.4vw;
    background-color: #373737;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

select {
    width: 47.4vw;
}


button:hover {
    background-color: #000000;
}

.size-field {
    display: flex;
    align-items: center;
    margin-bottom: 1vh;
}

.size-field select {
    margin-right: 0.8vw;
    flex: 1;
}

.size-field input {
    margin-right: 0.8vw;
    flex: 2;
}

.size-field button {
    flex: 1;
    background-color: #f44336;
    color: #fff;
    border: none;
    cursor: pointer;
}

.size-field button:hover {
    background-color: #d32f2f;
}

.back-button-container {
    position: absolute;
    top: 1.5vw;
    left: 1.5vw;
}

.back-button {
    padding: 0.6vw 1vw;
    font-size: 0.9vw;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: #5a5a5a;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    text-decoration: none;
}

.back-button:hover {
    background-color: #000000;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-3px);
}

.back-button:active {
    transform: translateY(1px);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
    background-color: #4caf50;
    color: white;
    font-weight: bold;
    padding: 0.4vw;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 47.4vw;
    font-size: 0.9vw;
    transition: all 0.3s ease;
    margin-top: 1vh;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

input[type="submit"]:active {
    transform: translateY(1px);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}