body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    color: #333;
    text-align: center;
    letter-spacing: 0.02vw;
}

h1 {
    font-size: 2vw;
    font-weight: bold;
    color: #4a4a4a;
    display: inline-block;
    margin: 2vh 0 2vh 5vw;
}

hr {
    border: none;
    height: 2px;
    background-color: #ddd;
    margin: 2vh auto;
    width: 80%;
}

.button-container {
    display: flex;
    justify-content: center;
    top: 3vw;
    left: 3vw;
    flex-wrap: wrap;
}

.button-container a {
    text-decoration: none;
}

.button-container button {
    padding: 0.75vw 1.5vw;
    font-size: 1vw;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.button-container button:hover {
    background-color: #45a049;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-3px);
}

.button-container button:active {
    transform: translateY(1px);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.back-button-container {
    position: absolute;
    top: 1.5vw;
    left: 1.5vw;
}

.back-button {
    padding: 0.6vw 1vw;
    font-size: 0.9vw;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: #393939;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    text-decoration: none;
}

.back-button:hover {
    background-color: #000000;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-3px);
}

.back-button:active {
    transform: translateY(1px);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

table {
    width: 90%;
    margin: 3vh auto;
    border-collapse: collapse;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

table th, table td {
    padding: 1vw;
    text-align: center;
    border: 1px solid #ddd;
}

table th {
    background-color: #4caf50;
    color: #fff;
    font-size: 1vw;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

table td {
    font-size: 1vw;
    max-width: 15vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
}

.product-image {
    max-width: 6vw;
    max-height: 6vw;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.product-buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2vh auto;
    width: 80%;
}

.add-product-button,
.delete-product-button {
    flex: 1;
    max-width: 17vw;
    padding: 10px 20px;
    font-size: 0.9vw;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: #2196f3;
    color: #fff;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    margin: 0 10px;
}

.add-product-button:hover {
    background-color: #1976d2;
    transform: translateY(-3px);
}

.delete-product-button {
    background-color: #f44336;
}

.delete-product-button:hover {
    background-color: #d32f2f;
}




