body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    letter-spacing: 0.02vw;
}

.favorites-container {
    max-width: 65vh;
    margin: 10vh auto;
    padding: 2vh;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}

.favorites-container h2 {
    font-size: 1.5vw;
    margin-bottom: 2vh;
    color: #333;
    text-align: center;
    font-weight: bold;
}

.favorite-items {
    border-bottom: 1px solid #ddd;
}

.favorite-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5vh 0;
    border-bottom: 1px solid #f0f0f0;
    gap: 2vh;
}

.favorite-item:last-child {
    border-bottom: none;
}

.item-image img {
    width: 11vh;
    height: 11vh;
    object-fit: contain;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.item-details {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.9vh;
}

.item-details a {
    text-decoration: none;
    color: black;
}

.item-name {
    font-size: 0.9vw;
    color: #000;
    margin: 0;
    font-weight: bold;
}

.item-details h3 {
    font-size: 0.9vw;
    color: #000;
    margin: 0;
}

.view-product-btn {
    padding: 0.9vh 1.1vh;
    background-color: #454545;
    color: #fff;
    text-decoration: none;
    font-size: 0.8vw;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    align-self: flex-start;
    display: flex;
    margin-top: 4vh;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
}

.view-product-btn:hover {
    background-color: #333;
    transform: scale(1.05);
}

.item-details p {
    font-size: 0.8vw;
    color: #777;
    margin: 0;
}

.remove-item-btn {
    background-color: #f44336;
    border: none;
    font-size: 0.9vw;
    color: #fff;
    cursor: pointer;
    width: 3vh;
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.2s ease;
    flex-shrink: 0;
}

.remove-item-btn:hover {
    background-color: #d32f2f;
    transform: scale(1.1);
}

.empty-favorites-message {
    text-align: center;
    font-size: 1.2vw;
    color: #656565;
    margin: 2vh 0;
}

body::after {
    content: "";
    display: block;
    height: 1px;
}

.item-price {
    font-size: 0.8vw;
    color: #777;
    margin: 0;
}

.back-button-wrapper {
    position: fixed;
    top: 9vh;
    left: 2.8vw;
    z-index: 1;

}

.back-button {
    display: flex;
    align-items: center;
    font-size: 1.3vw;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.back-arrow {
    font-size: 1.5vw;
    margin-right: 0.2vw;
    transition: transform 0.3s ease;
}

.back-button:hover .back-arrow {
    transform: translateX(-5px);
}

