body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 4.5vh 0 0;
    background-color: #f9f9f9;
    color: #000;
    text-align: center;
    letter-spacing: 0.02vw;
}

.care-container {
    max-width: 80vw;
    margin: 0 auto;
    padding: 2vh;
}

h1 {
    font-size: 2vw;
    font-weight: bold;
    margin-bottom: 1vh;
}

p {
    font-size: 1vw;
    margin: 5px 0 20px;
}

.filter-buttons {
    display: flex;
    justify-content: center;
    gap: 15vh;
    margin-bottom: 5vh;
}

.filter-select {
    appearance: none;
    padding: 1.5vh;
    font-size: 1.1vw;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid #000;
    background-color: #000;
    color: #fff;
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
}

.filter-select:hover {
    border-color: #555;
    background-color: #333;
}

.care-instructions {
    display: flex;
    flex-wrap: wrap;
    gap: 2vh;
    text-align: center;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 16vh;
}

.care-item {
    flex: 1 1 calc(25% - 20px);
    box-sizing: border-box;
    max-width: 50vh;
}

.care-item img {
    width: 100%;
    height: auto;
    max-height: 30vh;
    object-fit: cover;
}

.care-item p {
    font-size: 1.3vw;
    font-weight: bold;
    margin: 10px 0;
}
