/* home.css */

body.home {
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    min-height: 100vh;
}

.main-content {
    margin-top: 100px;
}

.welcome-text {
    font-size: 3em;
    font-weight: bold;
}
