.content-wrapper-three {
    text-align: left;
    padding-left: 2vw;
    padding-top: 1vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    letter-spacing: 0.02vw;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.contact-item {
    margin-bottom: 1vh;
}

.label {
    font-size: 1.8vh;
    font-weight: bold;
    letter-spacing: 1px;
    color: #c6c6c6;
}

.social-media {
    display: flex;
    align-items: center;
    gap: 1vh;
}

.social-link {
    font-size: 1.8vh;
    color: #c6c6c6;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-link:hover {
    color: #ff7f50;
    transform: scale(1.1);
}

.social-link.vk:hover {
    color: #4C75A3;
}

.social-link.telegram:hover {
    color: #0088cc;
}

.social-link.instagram:hover {
    color: #E4405F;
}

.social-link.whatsapp:hover {
    color: #25D366;
}

.contact-image {
    width: 6vw;
    height: 6vw;
    padding-right: 4vh;
}
