.product-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Изменил на column */
}

img {
    max-width: 300px;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 20px;
}

.product-info {
    display: flex; /* Добавил display: flex */
    flex-direction: column; /* Изменил на column */
    gap: 15px; /* Добавил gap */
}

h1 {
    margin-bottom: 10px;
}

.product-details {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column; /* Изменил на column */
    gap: 10px; /* Добавил gap */
}

.product-details dl {
    margin-bottom: 0;
}

.product-details dt {
    font-weight: bold;
}

.product-details dd {
    margin-bottom: 10px;
}

/* Navigation bar styles */
nav {
    background-color: #333;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    text-align: center;
    box-sizing: border-box;
    z-index: 1000;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

li {
    display: inline-block;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

nav a:hover {
    background-color: #555;
    color: #fff;
}

.main-content {
    margin-top: 60px;
}