body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    letter-spacing: 0.02vw;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.products-page {
    padding: 2vh;
    max-width: 80vw;
    text-align: center;
    margin: 4vh auto 0;
}

/* Заголовок */
.products-page h2 {
    font-size: 2vw;
    color: #333;
    margin-bottom: 2vw;
    font-weight: bold;
}

/* Сетка товаров */
.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 19vw);
    gap: 1vw;
    padding: 0 0;
}

.product-card {
    display: block;
    background: linear-gradient(135deg, #ffffff, #f9f9f9);
    padding: 0.5vw;
    width: 18vw;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s ease, transform 1s ease;
    position: relative;
    text-decoration: none;
    color: inherit;
    z-index: 1;
}

.product-card.visible {
    opacity: 1;
    transform: translateY(0);
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-image-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%;
    overflow: hidden;
    border-radius: 8px;
}

.product-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.product-image-back {
    opacity: 0;
}

.product-card:hover .product-image-front {
    opacity: 0;
}

.product-card:hover .product-image-back {
    opacity: 1;
}

.product-name {
    font-size: 1.15vw;
    color: #333;
    margin: 10px 0;
    font-weight: bold;
}

.product-price {
    font-size: 1.1vw;
    color: #333;
    font-weight: normal;
    margin: 0.5vh 0;
}

.favorite-form {
    position: absolute;
    top: 0.5vh;
    left: 0.5vw;
    margin: 0;
    z-index: 2;
}

.favorite-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.heart-icon {
    position: absolute;
    top: 0.25vh;
    right: 0.25vw;
    background-color: #ffffff;
    border-radius: 50%;
    width: 2vw;
    height: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    z-index: 2;
}

.heart-icon:hover {
    background-color: #f8f8f8;
    box-shadow: 0 1vh 1vh rgba(0, 0, 0, 0.3);
}

.heart-icon.active {
    background-color: #f9ecec;
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.2);
}

.heart-icon img {
    width: 60%;
    height: 60%;
    object-fit: contain;
}

.product-card {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s ease, transform 1s ease;
}

.product-card.visible {
    opacity: 1;
    transform: translateY(0);
}

.product-card-link {
    text-decoration: none;
    color: inherit;
    display: block;
}