body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.02vw;
}

.registration-container {
    position: relative;
    width: 100%;
    max-width: 27vw;
    margin: auto;
    background: #333333;
    color: #ffffff;
    padding: 4vh;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
}

.registration-logo {
    position: absolute;
    top: 0.4vh;
    right: 1.1vh;
    width: 10vh;
    height: auto;
}

.registration-title {
    font-size: 2vw;
    font-weight: bold;
    margin-bottom: 1vh;
}

.login-prompt {
    font-size: 0.8vw;
    color: #cccccc;
    margin-bottom: 2vh;
}

.login-prompt a {
    color: #3498db;
    text-decoration: none;
}

.registration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5vh;
    width: 100%;
    margin-top: 2vh;
}

.registration-form label {
    align-self: flex-start;
    font-size: 0.9vw;
    margin-bottom: 0.5vh;
    color: #ffffff;
}

.registration-form input {
    width: 100%;
    padding: 1.5vh;
    border: 1px solid #666666;
    border-radius: 25px;
    font-size: 0.9vw;
    color: #333;
    background-color: #ffffff;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.registration-form input::placeholder {
    color: #cccccc;
}

.registration-form input:focus {
    border-color: #ffffff;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
    outline: none;
}

.registration-button {
    width: 100%;
    padding: 1.5vh;
    font-size: 0.9vw;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    box-sizing: border-box;
}

.registration-button:hover {
    background-color: #444444;
}

.registration-form label {
    align-self: flex-start;
    font-size: 0.9vw;
    font-weight: bold;
    color: #ffffff;
    transition: color 0.3s ease;
    padding-left: 0.5vh;
}

.registration-form label:hover {
    color: #cccccc;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5vh;
    width: 100%;
}