/* Общие стили для страницы товаров */
body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    letter-spacing: 0.02vw; /* Лёгкое межбуквенное расстояние */
    overflow-y: scroll;
}

/* Стиль для вертикальной полосы прокрутки */
::-webkit-scrollbar {
    width: 5px; /* Устанавливаем ширину полосы прокрутки */
}

/* Стиль для трека (фона) полосы прокрутки */
::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Цвет фона полосы */
}

/* Стиль для ползунка (движущейся части) полосы прокрутки */
::-webkit-scrollbar-thumb {
    background-color: #888; /* Цвет ползунка */
    border-radius: 4px; /* Скругляем края */
}

/* Стиль для ползунка при наведении */
::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Цвет ползунка при наведении */
}

.products-page {
    padding: 2vh;
    max-width: 80vw;
    margin: 0 auto;
    text-align: center;
    margin-top: 3vh; /* Отступ для избежания перекрытия навигацией */
}

/* Заголовок */
.products-page h2 {
    font-size: 2vw;
    color: #000000;
    padding-bottom: 1vw;
    font-family: "Helvetica Neue", Arial, sans-serif; /* Шрифт для кнопки */
    font-weight: bold; /* Жирный текст */
}

/* Сетка товаров */
.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 19vw);
    gap: 1vw;
    padding: 0 0;
}

.product-card {
    display: block;
    background: linear-gradient(135deg, #ffffff, #f9f9f9);
    padding: 0.5vw;
    width: 18vw;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s ease, transform 1s ease;
    position: relative; /* Обязательно для правильного позиционирования */
    text-decoration: none;
    color: inherit;
    z-index: 1; /* Позиционируем карточку с изображениями */
}

/* Когда карточка появляется в области видимости */
.product-card.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Добавление эффекта hover для карточек товара */
.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Контейнер для изображения товара */
.product-image-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%; /* Это делает контейнер квадратным */
    overflow: hidden;
    border-radius: 8px;
}

/* Изображение товара (переднее) */
.product-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Подгонка изображения по размеру контейнера */
    transition: opacity 0.3s ease; /* Плавное изменение прозрачности */
}

/* Изображение сзади скрыто по умолчанию */
.product-image-back {
    opacity: 0;
}

/* Когда карточка находится в состоянии hover, показываем заднее изображение */
.product-card:hover .product-image-front {
    opacity: 0; /* Скрываем переднее изображение */
}

.product-card:hover .product-image-back {
    opacity: 1; /* Показываем заднее изображение */
}

/* Название товара */
.product-name {
    font-size: 1.15vw;
    color: #333;
    margin: 10px 0;
    font-family: "Helvetica Neue", Arial, sans-serif; /* Шрифт для кнопки */
    font-weight: bold; /* Жирный текст */
    letter-spacing: 0.5px; /* Лёгкое межбуквенное расстояние */
}

/* Цена товара */
.product-price {
    font-size: 1.1vw;
    color: #333;
    font-weight: normal;
    margin: 0.5vh 0;
    font-family: "Helvetica Neue", Arial, sans-serif; /* Шрифт для кнопки */
    letter-spacing: 0.5px; /* Лёгкое межбуквенное расстояние */
}

/* Дополнительные стили для анимации появления карточек */
.product-card {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s ease, transform 1s ease;
}

.product-card.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Стили для ссылки, оборачивающей карточку товара */
.product-card-link {
    text-decoration: none; /* Убираем подчеркивание */
    color: inherit; /* Наследуем цвет от родительского элемента */
    display: block; /* Делаем ссылку блочной, чтобы она занимала всю карточку */
}


/* Контейнер для кнопки "Вернуться" */
.back-button-wrapper {
    position: fixed;
    top: 9vh; /* Расположение в верхнем левом углу */
    left: 2.5vw;
    z-index: 1; /* Обеспечивает, чтобы кнопка была поверх других элементов */

}

/* Стили кнопки "Вернуться" */
.back-button {
    display: flex;
    align-items: center;
    font-size: 1.2vw;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
    font-family: "Helvetica Neue", Arial, sans-serif; /* Шрифт для кнопки */
}

/* Стили для стрелки */
.back-arrow {
    font-size: 1.5vw;
    margin-right: 8px;
    transition: transform 0.3s ease;
}

.back-button:hover .back-arrow {
    transform: translateX(-5px); /* Легкое смещение стрелки влево при наведении */
}
