<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin</title>
    <link href="/css/admin.css" rel="stylesheet">
    <link href="/css/admin.css" rel="stylesheet">
</head>
<body>
<h1>Панель Администратора</h1>
<hr>
<div class="button-container">
    <a href="/admin/users">
        <button>Список пользователей</button>
    </a>
    <a href="/admin/products">
        <button>Список Товаров</button>
    </a>
    <a href="/admin/promo">
        <button>Список промокодов</button>
    </a>
</div>
</body>
</html>