<!DOCTYPE html>
<html>
<head>
    <title>Admin</title>
</head>
<body>
<h1>Products List</h1>
<hr>
<table border="1">
    <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Sizes and Quantities</th>
        <th>Category</th>
    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.getId}">Product ID</td>
        <td th:text="${product.getName}">Product Name</td>
        <td th:text="${product.getDescription}">Description</td>
        <td th:text="${product.getPrice}">Price</td>
        <td>
            <ul>
                <li th:each="entry : ${product.getSizes}"
                    th:text="${entry.key} + ' - Quantity: ' + ${entry.value}"></li>
            </ul>
        </td>
        <td th:text="${product.getCategory}">Category</td>
    </tr>
</table>
<hr>
<a href="/admin/create/product">
    <button>Add Product</button>
</a>
<hr>
<h1>Delete Product</h1>
<form action="/admin/delete/product" method="post">
    <label for="productId">Product ID:</label>
    <input id="productId" name="id" required type="number"><br><br>

    <button onclick="return confirm('Вы уверены, что хотите удалить этот товар?');" type="submit">Удалить</button>
</form>
</body>
</html>