<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Product</title>
    <script>
        function addSizeField() {
            const container = document.getElementById("sizeFieldsContainer");
            const div = document.createElement("div");
            div.classList.add("size-field");

            const sizeSelect = document.createElement("select");
            sizeSelect.name = "sizes";
            sizeSelect.required = true;
            sizeSelect.innerHTML = `
                <option value="XS">XS</option>
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
                <option value="XL">XL</option>
                <option value="XLL">XXL</option>
            `;
            div.appendChild(sizeSelect);

            const quantityInput = document.createElement("input");
            quantityInput.type = "number";
            quantityInput.name = "quantity";
            quantityInput.required = true;
            quantityInput.placeholder = "Количество";
            div.appendChild(quantityInput);

            container.appendChild(div);
        }
    </script>
</head>
<body>
<h1>Add New Product</h1>
<form action="/admin/create/product" method="post">
    <label for="name">Название товара:</label>
    <input id="name" name="name" required type="text"><br><br>

    <label for="description">Описание товара:</label>
    <textarea id="description" name="description" required></textarea><br><br>

    <label for="price">Цена товара:</label>
    <input id="price" name="price" required step="0.01" type="number"><br><br>

    <label>Размер и количество:</label><br>
    <div id="sizeFieldsContainer">
        <div class="size-field">
            <select name="sizes" required>
                <option value="XS">XS</option>
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
                <option value="XL">XL</option>
                <option value="XLL">XXL</option>
            </select>
            <input name="quantity" placeholder="Количество" required type="number">
        </div>
    </div>
    <button onclick="addSizeField()" type="button">Добавить размер</button>
    <br><br>

    <label for="category">Категория товара:</label>
    <select id="category" name="category" required>
        <option value="T_SHIRTS">T-Shirt</option>
        <option value="HOODIES">Hoodie</option>
    </select><br><br>

    <label for="imageFront">Ссылка на изображение товара спереди:</label>
    <input id="imageFront" name="imageFront" required type="text"><br><br>

    <label for="imageBack">Ссылка на изображение товара сзади:</label>
    <input id="imageBack" name="imageBack" required type="text"><br><br>

    <input type="submit" value="Добавить товар">
</form>
</body>
</html>
