<!DOCTYPE html>
<html>
<head>
    <title>Product List</title>
    <link href="/css/adminProductsList.css" rel="stylesheet">
</head>
<body>
<div class="back-button-container">
    <a class="back-button" href="/admin">Назад</a>
</div>

<h1>Список продуктов</h1>

<div class="product-buttons-container">
    <a href="/admin/create/product">
        <button class="add-product-button">Добавить товар</button>
    </a>

    <form action="/admin/delete/product" class="delete-product-form" method="post">
        <label class="label-product-id" for="productId">ID товара для удаления:</label>
        <input class="input-product-id" id="productId" name="id" required type="number">
        <button class="delete-product-button" onclick="return confirm('Вы уверены, что хотите удалить этот товар?');"
                type="submit">Удалить товар
        </button>
    </form>
</div>
<hr>
<!-- Таблица продуктов -->
<table border="1">
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Описание</th>
        <th>Цена</th>
        <th>Размер - Количество</th>
        <th>Категория</th>
        <th>Фото</th>
    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.getId}"></td>
        <td th:text="${product.getName}"></td>
        <td th:text="${product.getDescription}"></td>
        <td th:text="${product.getPrice}"></td>
        <td>
            <ul>
                <li th:each="entry : ${product.getSizes}"
                    th:text="${entry.key} + '  Осталось: ' + ${entry.value} + 'шт.'"></li>
            </ul>
        </td>
        <td th:text="${product.getCategory}"></td>
        <td>
            <img alt="Front Image" class="product-image" th:src="${product.getImageFront}">
            <img alt="Back Image" class="product-image" th:src="${product.getImageBack}">
        </td>
    </tr>
</table>
</body>
</html>
