<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Product</title>
    <script>
        function addSizeField() {
            const container = document.getElementById("sizeFieldsContainer");
            const div = document.createElement("div");
            div.classList.add("size-field");

            const sizeSelect = document.createElement("select");
            sizeSelect.name = "productSize";
            sizeSelect.required = true;
            sizeSelect.innerHTML = `
                <option value="XS">XS</option>
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
                <option value="XL">XL</option>
                <option value="XLL">XXL</option>
            `;
            div.appendChild(sizeSelect);

            const quantityInput = document.createElement("input");
            quantityInput.type = "number";
            quantityInput.name = "productQuantity";
            quantityInput.required = true;
            quantityInput.placeholder = "Количество";
            div.appendChild(quantityInput);

            container.appendChild(div);
        }
    </script>
</head>
<body>
<h1>Add New Product</h1>
<form action="/admin/create/product" method="post">
    <label for="productName">Название товара:</label>
    <input id="productName" name="productName" required type="text"><br><br>

    <label for="productDescription">Описание товара:</label>
    <textarea id="productDescription" name="productDescription" required></textarea><br><br>

    <label for="productPrice">Цена товара:</label>
    <input id="productPrice" name="productPrice" required step="0.01" type="number"><br><br>

    <label>Размер и количество:</label><br>
    <div id="sizeFieldsContainer">
        <div class="size-field">
            <select name="productSize" required>
                <option value="XS">XS</option>
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
                <option value="XL">XL</option>
                <option value="XLL">XXL</option>
            </select>
            <input name="productQuantity" placeholder="Количество" required type="number">
        </div>
    </div>
    <button onclick="addSizeField()" type="button">Добавить размер</button>
    <br><br>

    <label for="productCategory">Категория товара:</label>
    <select id="productCategory" name="productCategory" required>
        <option value="T_SHIRTS">T-Shirt</option>
        <option value="HOODIES">Hoodie</option>
    </select><br><br>

    <label for="productImage">Ссылка на изображение товара:</label>
    <input id="productImage" name="productImage" required type="text"><br><br>

    <input type="submit" value="Добавить товар">
</form>
</body>
</html>
