<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin</title>
</head>
<body>
<h1>Promocodes List</h1>
<hr>

<!-- Форма для добавления нового промокода -->
<h2>Добавить новый промокод</h2>
<form method="post" th:action="@{/admin/add/promocode}">
    <label for="code">Промокод:</label>
    <input id="code" name="code" required type="text">
    <br>
    <label for="discountPercentage">Скидка (%):</label>
    <input id="discountPercentage" name="discountPercentage" required type="number">
    <br>
    <button type="submit">Добавить промокод</button>
</form>

<hr>

<!-- Таблица с существующими промокодами -->
<table border="1">
    <tr>
        <th>ID</th>
        <th>Промокод</th>
        <th>Скидка</th>
        <th>Действия</th> <!-- Добавляем новый заголовок для действий -->
    </tr>
    <tr th:each="promo : ${promocodes}">
        <td th:text="${promo.getPromocodeId()}">ID</td>
        <td th:text="${promo.getCode()}">Промокод</td>
        <td th:text="${promo.getDiscountPercentage()}">Скидка</td>
        <td>
            <!-- Кнопка удаления -->
            <form method="post" th:action="@{/admin/delete/promocode/{id}(id=${promo.getPromocodeId()})}">
                <button onclick="return confirm('Вы уверены, что хотите удалить этот промокод?');" type="submit">
                    Удалить
                </button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>