<!DOCTYPE html>
<html>
<head>
    <title>Admin</title>
</head>
<body>
<h1>Users List</h1>
<hr>
<h4>Панель администратора</h4>
<table border="1">
    <tr>
        <th>Пользователь</th>
        <th>Активность</th>
        <th>Роли</th>
    </tr>
    <tr th:each="user : ${users}"> <!-- Внедрить цикл в таблицу -->
        <td th:text="${user.getEmail}">Имя пользователя</td>
        <td th:text="${user.active}">Активность пользователя</td>
        <td th:text="${user.getRoles()}">Роли пользователя</td> <!-- Добавьте столбцы для информации -->
    </tr>
</table>
</body>
</html>