<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Product</title>
    <link href="/css/adminAddProduct.css" rel="stylesheet">
</head>
<body>
<div class="back-button-container">
    <a class="back-button" href="/admin/products">Назад</a>
</div>
<h1>Добавить новый товар</h1>
<form action="/admin/create/product" method="post">
    <label for="name">Название товара:</label>
    <input id="name" name="name" required type="text"><br><br>

    <label for="description">Описание товара:</label>
    <textarea id="description" name="description" required></textarea><br><br>

    <label for="price">Цена товара:</label>
    <input id="price" name="price" required step="0.01" type="number"><br><br>

    <label>Размеры и количество:</label><br>
    <div id="sizeFieldsContainer">
        <div class="size-field">
            <select name="sizes" required>
                <option value="XS">XS</option>
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
                <option value="XL">XL</option>
                <option value="XXL">XXL</option>
            </select>
            <input name="quantities" placeholder="Количество" required type="number">
        </div>
    </div>
    <button onclick="addSizeField()" type="button">Добавить размер</button>
    <br><br>

    <label for="category">Категория товара:</label>
    <select id="category" name="category" required>
        <option value="T_SHIRTS">Футболка</option>
        <option value="HOODIES">Худи</option>
    </select><br><br>

    <label for="imageFront">Ссылка на изображение товара спереди:</label>
    <input id="imageFront" name="imageFront" required type="text"><br><br>

    <label for="imageBack">Ссылка на изображение товара сзади:</label>
    <input id="imageBack" name="imageBack" required type="text"><br><br>

    <input type="submit" value="Добавить товар">
</form>
<script src="/js/adminAddProduct.js"></script>
</body>
</html>
