<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Cart Details</title>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body class="cartDetails">
<nav>
    <ul>
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/products}">Products</a></li>
        <li><a th:href="@{/cart}">Cart</a></li>
        <li th:if="${user != null}">
            <form action="/users/account" style="display:inline;">
                <button type="submit">Account</button>
            </form>
        </li>
        <li th:unless="${user != null}">
            <form action="/users/login" method="post" style="display:inline;">
                <button type="submit">Log in</button>
            </form>
        </li>
    </ul>
</nav>
<div class="main-content">
    <form method="post" th:action="@{/cart/cartdetails}">
        <label for="name">Email:</label>
        <input id="name" name="name" required th:value="${user != null ? user.username : ''}" type="text">
        <br>
        <label for="address">Address:</label>
        <input id="address" name="address" required type="text">
        <br>
        <h3>Cart Items</h3>
        <table border="1">
            <tr>
                <th>Product Name</th>
                <th>Price</th>
            </tr>
            <tr th:each="product : ${cart.products}">
                <td th:text="${product.productName}"></td>
                <td th:text="${product.productPrice}"></td>
            </tr>
        </table>
        <br>
        <h3>Total Price</h3>
        <p th:text="${cart.calculateTotalPrice()}"></p>
        <br>
        <button type="submit">Place Cart</button>
    </form>
</div>
</body>
</html>