<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link href="/css/navigation.css" rel="stylesheet">
    <link href="/css/cart.css" rel="stylesheet">
</head>
<body class="cart">
<div th:replace="~{navigation.html :: navigation}"></div>

<div class="cart-container">
    <h2>Ваш заказ</h2>
    <div class="cart-items">
        <div class="cart-item" th:each="item : ${cartItems}">
            <div class="item-image">
                <img alt="Product Image" th:src="@{${item.product.imageFront}}">
            </div>
            <div class="item-details">
                <h3 class="item-name" th:text="${item.product.name}"></h3>
                <p class="item-size" th:text="'Размер: ' + ${item.size}"></p>
            </div>
            <div class="item-quantity">
                <button class="quantity-btn decrease" onclick="updateCartItemQuantity(this, 'decrement')"
                        th:data-id="${item.id}">-
                </button>
                <span th:text="${item.quantity}">1</span>
                <button class="quantity-btn increase" onclick="updateCartItemQuantity(this, 'increment')"
                        th:data-id="${item.id}">+
                </button>
            </div>
            <div class="item-price">
                <p th:data-price-per-unit="${item.product.price}"
                   th:text="${item.getFormattedTotalPrice()} + ' ₽'"></p>
            </div>
            <button class="remove-item-btn" onclick="deleteCartItem(this)" th:data-id="${item.id}">×</button>
        </div>
    </div>
    <div class="cart-summary">
        <p class="cart-total">Сумма: <span th:text="${sum} + ' ₽'"></span></p>
        <a class="checkout-btn" href="/cart/details">Оформить</a>
    </div>
</div>
<div class="notification error" id="stockErrorNotification" th:if="${error}">
    <button class="close-notification" onclick="closeNotification('stockErrorNotification')">&times;</button>
    <p th:text="${error}"></p>
</div>
<script src="/js/main.js"></script>
<script src="/js/cart.js"></script>
</body>
</html>