<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Cart Details</title>
    <link href="/css/styles.css" rel="stylesheet">
    <script>
        function togglePromoCodeField() {
            const promoCodeField = document.getElementById('promoCodeField');
            const promoCodeYes = document.getElementById('hasPromoCodeYes');
            promoCodeField.style.display = promoCodeYes.checked ? 'block' : 'none';
        }
    </script>
</head>
<body class="cartDetails">
<nav>
    <ul>
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/products}">Products</a></li>
        <li><a th:href="@{/cart}">Cart</a></li>
        <li><a th:href="@{/favorites}">Favorites</a></li>
        <li th:if="${user != null}">
            <form action="/users/account" style="display:inline;">
                <button type="submit">Account</button>
            </form>
        </li>
        <li th:unless="${user != null}">
            <form action="/users/login" method="post" style="display:inline;">
                <button type="submit">Log in</button>
            </form>
        </li>
    </ul>
</nav>
<div class="main-content">
    <form method="post" th:action="@{/cart/cartdetails}">
        <label for="name">Email:</label>
        <input id="name" name="name" required th:value="${user != null ? user.username : ''}" type="text">
        <br>
        <label for="address">Address:</label>
        <input id="address" name="address" required th:value="${address != null ? address : ''}" type="text">
        <br>

        <h3>Do you have a promo code?</h3>
        <label>
            <input id="hasPromoCodeYes" name="hasPromoCode" onclick="togglePromoCodeField()" type="radio" value="yes">
            Yes
        </label>
        <label>
            <input checked id="hasPromoCodeNo" name="hasPromoCode" onclick="togglePromoCodeField()" type="radio"
                   value="no"> No
        </label>

        <div id="promoCodeField" style="display: none;">
            <label for="promoCode">Promo Code:</label>
            <input id="promoCode" name="promoCode" type="text">
            <button name="applyPromoCode" type="submit" value="true">Применить промокод</button>
        </div>

        <h3>Cart Items</h3>
        <table border="1">
            <tr>
                <th>Product Name</th>
                <th>Size</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
            <tr th:each="cartItem : ${cartItems}">
                <td th:text="${cartItem.product.productName}"></td>
                <td th:text="${cartItem.size}"></td>
                <td th:text="${cartItem.quantity}"></td>
                <td th:text="${cartItem.product.productPrice}"></td>
            </tr>
        </table>
        <br>
        <h3>Total Price</h3>
        <p th:text="${sum}"></p>
        <p style="color: green;" th:if="${discountMessage != null}" th:text="${discountMessage}"></p>
        <p style="color: red;" th:if="${errorMessage != null}" th:text="${errorMessage}"></p>
        <br>

        <button name="applyPromoCode" type="submit" value="false">Place Order</button>
    </form>
</div>
</body>
</html>