<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body class="cart">
<nav>
    <ul>
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/products}">Products</a></li>
        <li><a th:href="@{/cart}">Cart</a></li>
        <li><a th:href="@{/favorites}">Favorites</a></li>
        <li th:if="${user != null}">
            <form action="/users/account" style="display:inline;">
                <button type="submit">Account</button>
            </form>
        </li>
        <li th:unless="${user != null}">
            <form action="/users/login" method="post" style="display:inline;">
                <button type="submit">Log in</button>
            </form>
        </li>
    </ul>
</nav>
<div class="main-content">
    <h2>Your Cart</h2>

    <table border="1">
        <thead>
        <tr>
            <th>Product Name</th>
            <th>Size</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cartItem : ${cartItems}">
            <td th:text="${cartItem.product.getName}"></td>
            <td th:text="${cartItem.size}"></td>
            <td th:text="${cartItem.quantity}"></td>
            <td th:text="${cartItem.product.getPrice}"></td>
            <td>
                <form method="post" th:action="@{/cart/delete/{cartItemId}(cartItemId=${cartItem.getId})}">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <p>Total Price: <span th:text="${sum}"></span></p>
    <a class="buy-now-button" th:href="@{/cart/cartdetails}">Buy Now</a>
    <div class="error" th:if="${errorMessage != null}">
        <p th:text="${errorMessage}"></p>
    </div>
</div>
</body>
</html>