<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Заказ успешно оформлен</title>
    <link href="/css/navigation.css" rel="stylesheet">
    <link href="/css/cartplaced.css" rel="stylesheet">
</head>
<body class="cart-placed">
<div th:replace="~{navigation.html :: navigation}"></div>

<div class="cart-placed-container">
    <div class="cart-placed-message">
        <h1>Спасибо за заказ!</h1>
        <p>Ваш заказ успешно оформлен и уже обрабатывается.</p>
        <p>Вы будете перенаправлены на главную страницу через <span id="redirect-timer">3</span> секунды.</p>
    </div>
    <div class="cart-placed-animation">
        <img alt="Success Icon" src="/images/various/success.png">
    </div>
</div>

<script src="/js/cartplaced.js"></script>
<script src="/js/main.js"></script>
</body>
</html>