<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <link href="/css/navigation.css" rel="stylesheet">
    <link href="/css/cartdetails.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{navigation.html :: navigation}"></div>

<div class="checkout-container">
    <!-- Левая часть: форма -->
    <div class="checkout-form">
        <h2>Оформление заказа</h2>
        <form action="/checkout" method="post">
            <label for="name">Ваше имя</label>
            <input id="name" name="name" placeholder="Введите ваше имя" required type="text">

            <label for="email">Почта</label>
            <input id="email" name="email" placeholder="Введите вашу почту" required type="email">

            <label for="phone">Телефон</label>
            <input id="phone" name="phone" placeholder="+7 (999) 999-99-99" required type="tel">

            <label for="promo-code">Промокод</label>
            <input id="promo-code" name="promoCode" placeholder="Введите промокод" type="text">

            <button class="checkout-btn" type="submit">Оформить заказ</button>
        </form>
    </div>

    <!-- Правая часть: список товаров -->
    <div class="cart-summary-container">
        <h2>Ваш заказ</h2>
        <div class="cart-items">
            <div class="cart-item" th:each="item : ${cartItems}">
                <div class="item-image">
                    <img alt="Product Image" th:src="@{${item.product.imageFront}}">
                </div>
                <div class="item-details">
                    <h3 class="item-name" th:text="${item.product.name}"></h3>
                    <p class="item-size" th:text="'Размер: ' + ${item.size}"></p>
                </div>
                <div class="item-quantity">
                    <p>Количество: <span th:text="${item.quantity}"></span></p>
                </div>
                <div class="item-price">
                    <p th:text="${item.getFormattedTotalPrice()} + ' ₽'"></p>
                </div>
            </div>
        </div>

        <!-- Итоговые суммы -->
        <div class="cart-summary">
            <p>Сумма: <span th:text="${sum} + ' ₽'"></span></p>
        </div>
    </div>
</div>

<script src="/js/main.js"></script>
</body>
</html>
