<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Favorites</title>
    <link href="/css/navigation.css" rel="stylesheet">
    <link href="/css/favorites.css" rel="stylesheet">
</head>
<body class="favorites">
<div th:replace="~{navigation.html :: navigation}"></div>
<div class="back-button-wrapper">
    <a class="back-button" href="javascript:history.back()">
        <span class="back-arrow">&#8592;</span> ВЕРНУТЬСЯ
    </a>
</div>
<div class="favorites-container">
    <h2>Избранное</h2>

    <!-- Сообщение при отсутствии избранных товаров -->
    <div class="empty-favorites-message" th:if="${favoriteItems.isEmpty()}">
        <p>Список избранного пуст. Добавьте товары, чтобы сохранить их здесь.</p>
    </div>

    <!-- Список избранных товаров -->
    <div class="favorite-item" th:each="item : ${favoriteItems}">
        <div class="item-image">
            <a th:href="@{'/products/' + ${item.product.id}}">
                <img alt="Product Image" th:src="@{${item.product.imageFront}}">
            </a>
        </div>
        <div class="item-details">
            <h3 class="item-name">
                <a th:href="@{'/products/' + ${item.product.id}}" th:text="${item.product.name}"></a>
            </h3>
            <p class="item-price" th:text="${item.product.price} + ' ₽'"></p>
        </div>
        <a class="view-product-btn" th:href="@{/products/{id}(id=${item.product.id})}">Перейти к товару</a>
        <button class="remove-item-btn" onclick="removeFavoriteItem(this)" th:data-id="${item.id}">×</button>
    </div>
</div>

<script src="/js/navigation.js"></script>
<script src="/js/favorites.js"></script>
</body>
</html>
