<section class="full-screen-section gray-background">
    <h1 class="centered-heading">Хиты Продаж</h1>

    <div class="content-wrapper">
        <div class="image-left">
            <img alt="Girl" src="/images/various/girl.png">
        </div>

        <div class="products">
            <!-- Продукт: Футболка -->
            <div class="product-card">
                <a class="product-link" th:href="@{'/products/' + ${bestTshirt.id}}">
                    <img alt="Best T-shirt" th:src="@{${bestTshirt.imageFront}}">
                    <h2 th:text="${bestTshirt.name}">Product Name</h2>
                    <p class="price" th:text="${bestTshirt.price} + ' ₽'">Price</p>
                </a>
            </div>

            <!-- Продукт: Худи -->
            <div class="product-card">
                <a class="product-link" th:href="@{'/products/' + ${bestHoodie.id}}">
                    <img alt="Best Hoodie" th:src="@{${bestHoodie.imageFront}}">
                    <h2 th:text="${bestHoodie.name}">Product Name</h2>
                    <p class="price" th:text="${bestHoodie.price} + ' ₽'">Price</p>
                </a>
            </div>
        </div>
    </div>
</section>
