<section class="full-screen-section dark-gray-background">
    <div class="content-wrapper-three">
        <!-- Контактная информация -->
        <div class="contact-info">
            <!-- Почта -->
            <p class="contact-item"><span class="label">Почта: alainshop@gmail.com</span></p>

            <!-- Социальные сети -->
            <div class="social-media">
                <span class="label">Социальные сети:</span>
                <div class="social-links">
                    <a class="social-link vk" href="https://vk.com" target="_blank">VK</a>
                    <a class="social-link telegram" href="https://t.me" target="_blank">Telegram</a>
                    <a class="social-link instagram" href="https://instagram.com" target="_blank">Instagram</a>
                    <a class="social-link whatsapp" href="https://wa.me" target="_blank">WhatsApp</a>
                </div>
            </div>
        </div>

        <!-- Картинка -->
        <img alt="Logo" class="contact-image" src="/images/various/logored.png">
    </div>
</section>
