<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Авторизация</title>
    <link href="/css/navigation.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{navigation.html :: navigation}"></div>

<div class="login-container">
    <!-- Логотип в правом верхнем углу -->
    <img alt="Login Logo" class="login-logo" src="/images/various/loginlogo.png">

    <h4 class="login-title">Авторизация</h4>
    <p class="registration-prompt">Ещё не зарегистрированы? <a href="/users/registration">Зарегистрироваться</a></p>

    <form action="/users/login" class="login-form" method="post">
        <div class="form-group">
            <label for="username">Ваш E-mail</label>
            <input
                    id="username"
                    name="username"
                    placeholder="ivanivanov@mail.ru"
                    required
                    title="Введите корректный email. Пример: example@mail.com"
                    type="email">
            <small class="error-message" style="display: none; color: red;">Пожалуйста, введите корректный
                email-адрес.</small>
        </div>
        <div class="form-group">
            <label for="password">Ваш пароль</label>
            <input
                    id="password"
                    maxlength="15"
                    minlength="4"
                    name="password"
                    pattern="^[a-zA-Z0-9!@#$%^&*()_+=-]*$"
                    placeholder="Введите пароль"
                    required
                    title="Пароль должен содержать только латинские буквы и другие символы (цифры и спецсимволы), длина от 4 до 15 символов."
                    type="password">
            <small class="error-message" style="display: none; color: red;">Пароль должен быть от 4 до 15
                символов.</small>
        </div>
        <button class="login-button" type="submit">Войти</button>
    </form>

    <div class="forgot-password">
        Забыли пароль? <a href="/users/reset-password">Восстановить</a>
    </div>
</div>

<script src="/js/navigation.js"></script>
<script src="/js/login.js"></script>
</body>
</html>
