<!DOCTYPE html>
<html>
<head>
    <title>Alains Shop</title>
</head>
<body>
<h1>Alains Shop</h1>
<hr>
<h4>Авторизация</h4>

<!-- Сообщение об отсутствии email в системе -->
<div style="color: red;" th:if="${usernameNotFoundMessage}">
    <p th:text="${usernameNotFoundMessage}"></p>
</div>

<!-- Сообщение о неверном пароле -->
<div style="color: red;" th:if="${errorMessage}">
    <p th:text="${errorMessage}"></p>
</div>

<form action="/users/login" method="post">
    Эл. почта: <input name="username" type="email"><br><br>
    Пароль: <input name="password" type="password"><br><br>
    <input type="submit" value="Вход"/>
</form>
<a href="/users/registration">Зарегистрироваться</a>
</body>
</html>