<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body class="products">
<nav>
    <ul>
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/products}">Products</a></li>
        <li><a th:href="@{/cart}">Cart</a></li>
        <li><a th:href="@{/favorites}">Favorites</a></li>
        <li th:if="${user != null}">
            <form action="/users/account" style="display:inline;">
                <button type="submit">Account</button>
            </form>
        </li>
        <li th:unless="${user != null}">
            <form action="/users/login" method="post" style="display:inline;">
                <button type="submit">Log in</button>
            </form>
        </li>
    </ul>
</nav>

<div class="main-content">
    <h2>Available Products</h2>

    <form method="GET" th:action="@{/products}">
        <select name="category" required="required">
            <option disabled selected value="">All Categorise</option>
            <option th:each="category : ${categories}"
                    th:text="${category.displayName}"
                    th:value="${category}">
            </option>
        </select>
        <button type="submit">Filter</button>
    </form>

    <div class="product-item" th:each="product : ${products}">
        <!-- Dynamic image loading -->
        <img alt="Product Image" th:src="@{'/' + ${product.getImage}}">

        <h3 th:text="${product.getName}"></h3>
        <p th:text="'Category: ' + ${product.getCategory.displayName}"></p>
        <p th:text="'Price: $' + ${product.getPrice}"></p>

        <a th:href="@{'/products/' + ${product.getId}}">View Details</a>

        <hr>
    </div>
</div>

</body>
</html>
