<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Product Details</title>
    <link href="/css/product-details.css" rel="stylesheet">
</head>
<body class="order">
<nav>
    <ul>
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/products}">Products</a></li>
        <li><a th:href="@{/order}">Order</a></li>
        <li th:if="${user != null}">
            <form action="/users/account" style="display:inline;">
                <button type="submit">Account</button>
            </form>
        </li>
        <li th:unless="${user != null}">
            <form action="/users/login" method="post" style="display:inline;">
                <button type="submit">Log in</button>
            </form>
        </li>
    </ul>
</nav>
<img alt="Product Image" style="max-width: 300px; height: auto; object-fit: cover; margin-bottom: 20px;"
     th:src="@{'/' + ${product.productImage}}">
<div class="product-info">
    <h1 th:text="${product.productName}"></h1>
    <div class="product-details">
        <dl>
            <dt>Description:</dt>
            <dd th:text="${product.productDescription}"></dd>
            <dt>Price:</dt>
            <dd th:text="${product.productPrice}"></dd>
            <dt>Size:</dt>
            <dd th:text="${product.productSize}"></dd>
            <dt>Category:</dt>
            <dd th:text="${product.productCategory}"></dd>
        </dl>
        <form method="post" th:action="@{'/order/add/' + ${product.productId}}">
            <button type="submit">Add to Order</button>
        </form>
    </div>
</div>
</body>
</html>