<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Регистрация - Alains Shop</title>
    <link href="/css/navigation.css" rel="stylesheet">
    <link href="/css/registration.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{navigation.html :: navigation}"></div>

<div class="registration-container">
    <!-- Логотип в правом верхнем углу -->
    <img alt="Registration Logo" class="registration-logo" src="/images/various/loginlogo.png">

    <h4 class="registration-title">Регистрация</h4>
    <p class="login-prompt">Уже есть аккаунт? <a href="/users/login">Войти</a></p>

    <form action="/users/registration" class="registration-form" method="post">
        <div class="form-group">
            <label for="name">Имя</label>
            <input
                    id="name"
                    maxlength="40"
                    minlength="2"
                    name="name"
                    pattern="^[А-Яа-яЁёA-Za-z\s]+$"
                    placeholder="Иван"
                    required
                    title="Имя должно содержать только буквы и пробелы, и быть от 2 до 40 символов"
                    type="text">
            <small class="error-message" style="display: none; color: red;">
                Имя должно содержать только буквы и пробелы, и быть от 2 до 40 символов.
            </small>
        </div>

        <div class="form-group">
            <label for="email">E-mail</label>
            <input
                    id="email"
                    name="email"
                    pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                    placeholder="ivanivanovich@mail.ru"
                    required
                    title="Введите корректный email. Пример: example@mail.com"
                    type="email">
            <small class="error-message" style="display: none; color: red;">Пожалуйста, введите корректный
                email-адрес.</small>
        </div>

        <div class="form-group">
            <label for="phoneNumber">Номер телефона</label>
            <input
                    id="phoneNumber"
                    name="phoneNumber"
                    pattern="^(\+7|8)\s?(\(?\d{3}\)?)[\s\-]?\d{3}[\s\-]?\d{2}[\s\-]?\d{2}$"
                    placeholder="+7 (999) 999-99-99"
                    required
                    title="Телефонный номер должен быть в формате: +7 (999) 999-99-99 или 8 (999) 999-99-99"
                    type="text">
            <small class="error-message" style="display: none; color: red;">Пожалуйста, введите корректный номер
                телефона.</small>
        </div>

        <div class="form-group">
            <label for="password">Пароль</label>
            <input
                    id="password"
                    maxlength="15"
                    minlength="4"
                    name="password"
                    pattern="^[a-zA-Z0-9!@#$%^&*()_+=-]*$"
                    placeholder="Введите пароль"
                    required
                    title="Пароль должен содержать только латинские буквы и другие символы (цифры и спецсимволы), длина от 4 до 15 символов."
                    type="password">
            <small class="error-message" style="display: none; color: red;">Пароль должен быть от 4 до 15
                символов.</small>
        </div>

        <button class="registration-button" type="submit">Зарегистрироваться</button>
    </form>

    <span style="color: red;" th:if="${errorMessage != null}" th:text="${errorMessage}"></span>
</div>

<script src="/js/navigation.js"></script>
<script src="/js/registration.js"></script>
</body>
</html>
