<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Account Information</title>
    <link href="/css/useraccount.css" rel="stylesheet">
</head>
<body class="home">
<nav>
    <ul>
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/products}">Products</a></li>
        <li><a th:href="@{/cart}">Cart</a></li>
        <li><a th:href="@{/favorites}">Favorites</a></li>
        <li th:if="${user != null}">
            <form action="/users/account" style="display:inline;">
                <button type="submit">Account</button>
            </form>
        </li>
        <li th:unless="${user != null}">
            <form action="/users/login" method="post" style="display:inline;">
                <button type="submit">Log in</button>
            </form>
        </li>
    </ul>
</nav>
<body>
<div class="container">
    <div class="account-info">
        <h1>Account Information</h1>
        <div class="user-details">
            <div class="detail">
                <span th:text="${user.getUsername}"></span>
            </div>
        </div>
    </div>

    <!-- Отображение списка заказов -->
    <div class="orders">
        <h2>Your Orders</h2>
        <table>
            <thead>
            <tr>
                <th>Order ID</th>
                <th>Order Date</th>
                <th>Items</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders}">
                <td th:text="${order.getId}"></td>
                <td th:text="${order.getDate}"></td>
                <td>
                    <ul>
                        <li th:each="item : ${order.getOrderItems}"
                            th:text="${item.product.getName} + ' (Size: ' + ${item.size} + ', Quantity: ' + ${item.quantity} + ')'"></li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <form action="/users/logout" method="post" style="display:inline;">
        <button type="submit">Log out</button>
    </form>
</div>
</body>
</html>