<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Account Information</title>
    <link href="/css/useraccount.css" rel="stylesheet">
</head>
<body class="home">
<nav>
    <ul>
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/products}">Products</a></li>
        <li><a th:href="@{/cart}">Cart</a></li>
        <li th:if="${user != null}">
            <form action="/users/account" style="display:inline;">
                <button type="submit">Account</button>
            </form>
        </li>
        <li th:unless="${user != null}">
            <form action="/users/login" method="post" style="display:inline;">
                <button type="submit">Log in</button>
            </form>
        </li>
    </ul>
</nav>
<body>
<div class="container">
    <div class="account-info">
        <h1>Account Information</h1>
        <div class="user-details">
            <div class="detail">
                <span th:text="${user.username}"></span>
            </div>
        </div>
    </div>
    <form action="/users/logout" method="post" style="display:inline;">
        <button type="submit">Log out</button>
    </form>

    <div class="orders-container">
        <h2>Your Orders</h2>
        <div th:each="order, orderStat : ${orders}">
            <div class="order-item" th:data-order-id="${order.getOrderId()}">
                <h3>Order <span th:text="${orderStat.count}"></span></h3>
                <div class="order-details" style="display:none;">
                    <ul>
                        <li th:each="product : ${allProductsInOrders[orderStat.index]}">
                            <span th:text="${product.getProductName()}"></span>
                            <span th:text="${product.getProductSize()}"></span>
                            <span th:text="${product.getProductPrice()}"></span>
                        </li>
                    </ul>
                    <p>Total Price: <span th:text="${totalPrices[orderStat.index]}"></span></p>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    const orderItems = document.querySelectorAll('.order-item');
    orderItems.forEach(orderItem => {
        orderItem.addEventListener('click', () => {
            const orderDetails = orderItem.querySelector('.order-details');
            orderDetails.style.display = orderDetails.style.display === 'none' ? 'block' : 'none';
        });
    });
</script>
</body>
</html>